@{
  Layout = "_Layout";
}


<h1>Dine Dash!</h1>
<h3><a href='/Restaurants'>Show Restaurants</a></h3>
@* <h3><a href='/animals/create'>Add </a></h3> *@
<h3>@Html.ActionLink("Add Restaurant", "Create", "Restaurants")</h3>