@{
  Layout = "_Layout";
}

@using DineDash.Models;
@model List<DineDash.Models.Restaurant>;
  <h1>Restaurants</h1>

@if (@Model.Count == 0)
{
  <h3>No Favorites</h3>
} 
<ul>
@foreach (Restaurant restaurant in Model)
{
  <li>@Html.ActionLink($"{restaurant.Name}", "Details", new{ id = restaurant.RestaurantId})</li>;
}
</ul>